{% extends 'base.html' %}


{% block header %}
<h1>{{ cats }}</h1>
{% endblock %}

{% block content%}
{% if category_posts %}

<ul>
{% for post in category_posts %}
<li><a href="{% url 'article-detail' post.pk %}">
	<strong>{{ post.title }}</strong></a><br/>
	{% if post.author.first_name or post.author.last_name %}
	{{ post.author.first_name }} 
	{{ post.author.last_name}} -
	{% endif %}
	{{ post.post_date}} <br/>

	{% if user.is_authenticated %}
	   {% if user.id == post.author.id %}
	<small><a href={% url 'edit-post' post.pk %}>Edit</a></small> - 
	<small><a href={% url 'delete-post' post.pk %}>Delete</a></small><br/>
	   {% endif %}
	{% endif %}
	  {{ post.body|slice:":200"}} </li>
	<br/>
{% endfor %}
</ul>

{% else%}
 <h3>Sorry, that page does not exist.</h3>

{% endif %}
{% endblock %}
