{% extends 'base.html' %}
{% block title %}Changer de mot de passe{% endblock %}


{% block content %}
<h1>Changez de mot de passe </h1>
    <br/><br/>	
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-dark" type="submit">Changer</button>
</form>
</div>
<ul>
	<li> Votre passeprot ne doit pas &egrave;tre similaire &agrave; vos autres incormations personnelles.</li>
	<li> Votre mpt de passe doit contenir au mois 8 caract&egrave;res.</li>
	<li> Votre mot de passe me doit pas &egrave;tre un mot de passe commun&eacute;ment utilis&eacute;.</li>
	<li> Votre mot de passe doit &egrave;tre une combinaison de chiffres et de lettres.</li>
</ul>
{% endblock %}
