{% extends 'base.html' %}
{% block title %}Change pasword{% endblock %}


{% block content %}
<h1>Change password </h1>
    <br/><br/>	
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-dark" type="submit">Changer</button>
</form>
</div>
<ul>
	<li>Your password must be different from your personnal information.</li>
	<li>Your password must contain at least 9 characters.</li>
	<li>You must not use a common password.</li>
	<li>Your password must be a combination of digits and letters</li>
</ul>
{% endblock %}
